.field{
  margin: 10px;
  padding-bottom: 10px;
  font-size: large;
  font-weight: 500;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 6px 4px 5px #c8c8c8;
}

button{
  color: white;
  font-weight: bold;
  background-color: rgb(101, 115, 240);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  border-color: transparent;
}