.body{
  background-color:#F0F0F0;
  min-height: 100vh;
}

table {
  width: 100%;
}

.table-container{
  height: 450px;
  overflow-y: auto;
}

/deep/ .mat-progress-spinner circle, /deep/ .mat-spinner circle {
  stroke: rgb(78, 50, 204);
}

mat-spinner{
  margin-left: 15px;
}