<form class="example-form">
  <mat-form-field class="field" appearance="fill">
    <input matInput placeholder="Id">
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <input matInput placeholder="Account Number">
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <input matInput placeholder="Email">
  </mat-form-field>
</form>